extends layout

block content
  img(src='/images/logo.png', height='10%', width='10%', style='top:0;position:absolute')
  div(ng-controller='body')
    .ui.tabular.menu
      a(ng-class='{active: isOn}', class='item', ng-click="searchModule()", ui-sref='search') 资源
      a(ng-class='{active: !isOn}', class='item', ng-click="talkModule()", ui-sref='talk')  说说

    div(ui-view)

    div()
      .ui.horizontal.divider
        i(class='china flag')
      .footer-info
        div Dev. by zcfrank1st
        div
          a(href="mailto:zhchaos@gmail.com") 联系我(邮件)

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/semantic-ui/dist/semantic.min.js')
  script(src='/bower_components/angularjs/angular.min.js')
  script(src='/bower_components/ui-router/release/angular-ui-router.min.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controller.js')