extends layout

block content
  // logo
  div(ng-controller='body')
    .ui.tabular.menu
      a(ng-class='{active: true}', class='item', ng-click="tabHighlight()", ui-sref='search') 资源
      a(class='item')  说说

    // 其中一个viewer
    div(ui-view)

    div(class='footer')
      .ui.horizontal.divider
        i(class='china flag')

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/semantic-ui/dist/semantic.min.js')
  script(src='/bower_components/angularjs/angular.min.js')
  script(src='/bower_components/ui-router/release/angular-ui-router.min.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controller.js')