extends layout

block content
  // logo
  div(ng-controller='body')
    .ui.tabular.menu
      a(ng-class='{active: true}', class='item', ng-click="tabHighlight()") 资源
      a(class='item')  说说

    // 其中一个viewer
    .ui.grid
      .three.column.row
        .column
        .column
          div(class='ui left icon input input-align')
            i(class="search icon")
            input(type="text")
            div(class='ui blue basic button') 找找
        .column

      .nine.column.row
        .column
        .column
        .column
        .column
        .column
          div(class='ui green basic button') 试试手气
        .column
        .column
        .column
        .column

    div(class='footer')
      .ui.horizontal.divider
        i(class='china flag')

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/semantic-ui/dist/semantic.min.js')
  script(src='/bower_components/angularjs/angular.min.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/controller.js')