body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-align {
  display: table;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer {
  margin-top: 18%;
}