<div class="ui grid" ng-show="default">
    <div class="one column row">
        <div class="column">
            <div class="ui animated red basic button" style="float: right">
                <div class="visible content">去分享</div>
                <div class="hidden content">
                    <i class="right arrow icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <div class="ui left icon input input-align">
                <i class="search icon"></i>
                <input type="text" placeholder="电子书,种子...">

                <div class="ui blue basic button" ng-click="find()">找找</div>
            </div>
        </div>
        <div class="column"></div>
    </div>

    <div class="nine column row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <div class="ui green basic button" ng-click="latest10()">最新10条</div>
        </div>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div ng-show="!default">
    <div class="mini ui yellow basic button" ng-click="return()"><i class="reply icon"></i>返回</div>
    <!-- table ng-repeat -->
    <table class="ui celled striped table">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center;">
                搜索结果列表
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>资源名称</td>
            <td>资源类型</td>
            <td>下载地址</td>
            <td>登记时间</td>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>
                <i class="folder icon"></i>{{item.type}}
            </td>
            <td>{{item.description}}</td>
            <td class="right aligned collapsing">{{item.timestamp}}</td>
        </tr>
        <tr ng-show="!default && pagination">
            <td colspan="4" style="text-align: right">
                <div class="ui icon buttons">
                    <div class="ui button"><i class="angle double left icon"></i></div>
                    <div class="ui button"><i class="angle left icon"></i></div>
                    <div class="ui button"><i class="angle right icon"></i></div>
                    <div class="ui button"><i class="angle double right icon"></i></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>