<div class="ui grid">
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <div class="ui left icon input input-align">
                <i class="search icon"></i>
                <input type="text">
                <div class="ui blue basic button">找找</div>
            </div>
        </div>
        <div class="column"></div>
    </div>

    <div class="nine column row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <div class="ui green basic button">试试手气</div>
        </div>

        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>